<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/jamie">Jamie</a></li>
        <li><a href="/matt">Matt</a></li>
        <li><a href="/richard">Richard</a></li>
        <li><a href="/jane">Jane</a></li>
    </ul>
</nav>